@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/gilroy-regular.woff2') format('woff2'),
  url('../assets/fonts/Gilroy/gilroy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/gilroy-medium.woff2') format('woff2'),
  url('../assets/fonts/Gilroy/gilroy-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/gilroy-semibold.woff2') format('woff2'),
  url('../assets/fonts/Gilroy/gilroy-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/gilroy-bold.woff2') format('woff2'),
  url('../assets/fonts/Gilroy/gilroy-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy/gilroy-extrabold.woff2') format('woff2'),
  url('../assets/fonts/Gilroy/gilroy-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box
}

body {
  font-family: $font-primary;
  background: $color-bg;
  //TODO добавить картинку к background body
  color: $color-light;
  margin: 0;
}

.container {
  max-width: $width-content;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 425px) {
    padding: 0 15px;
  }
}

.section {
  padding: 84px 0;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 37px 0;
  }
}

.title {
  @include font(64px, 80px, $color-light, 800);
  max-width: 1093px;
  margin: 0;

  @media screen and (max-width: 767px) {
    font-size: 45px;
    line-height: 50px;
  }

  @media screen and (max-width: 425px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.title_colored {
  color: $color-primary;
}

.text {
  font-family: $font-additional;
  @include font(28px, 44px, $color-light);
  margin: 40px 0 73px;
  max-width: 654px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
    margin: 28px auto 28px;
  }

  @media screen and (max-width: 425px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }
}

.text_colored {
  color: $color-primary;
  font-weight: 600;
}

.section__container {
  max-width: 1212px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
          "img content1"
          "img content2";
  column-gap: 30px;

  @media screen and (max-width: 767px) {
    @include flexColumn;
  }
}

.section__img-container {
  max-width: 540px;
  min-width: 300px;
  width: 100%;
  grid-area: img;

  @media screen and (max-width: 767px) {
    order: 2;
    margin-bottom: 74px;
  }
}

.section__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section__content {
  grid-area: content1;
  max-width: 540px;
  justify-self: end;
  margin-top: 46px;

  @media screen and (max-width: 767px) {
    order: 1;
    margin: 0;
  }
}

.section__title {
  @include font(44px, 54px, null, 800);
  margin: 0 0 28px;

  @media screen and (max-width: 425px) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}

.section__text {
  font-family: $font-additional;
  @include font(16px, 24px, null);
  margin: 0 0 16px;

  @media screen and (max-width: 425px) {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }
}

.degree {
  font-size: 35px;
  line-height: 35px;
}