$color-bg: #171616;
$color-light: #FFFFFF;
$color-primary: #C7954B;
$color-primary-hovered: #A87529;
$color-primary-focused: #B58640;

$width-content: 1364px;

$font-primary: 'Gilroy', sans-serif;
$font-additional: 'IBM Plex Sans', serif;